OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=your openrouter api key
GOOGLE_API_KEY=your google api key
SECRET_KEY='13fb2b89a51c67f159af0742950395f7ac88cc4405f3b20d0c6d6071715034d8'
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM="HS256"
DATABASE_URL=postgresql+asyncpg://docker_user:secret123@postgres_db:5432/rag_docker_db